$ui-main-titlebar-titlebar-color: dynamic(null);
$ui-main-titlebar-titlebar-font-family: dynamic(null);
$ui-main-titlebar-titlebar-font-size: dynamic(null);
$ui-main-titlebar-titlebar-font-size-big: dynamic(null);
$ui-main-titlebar-titlebar-font-weight: dynamic(null);
$ui-main-titlebar-titlebar-background-color: dynamic(null);
$ui-main-titlebar-titlebar-background-gradient: dynamic(null);
$ui-main-titlebar-titlebar-horizontal-spacing: dynamic(null);
$ui-main-titlebar-titlebar-horizontal-spacing-big: dynamic(null);
$ui-main-titlebar-titlebar-line-height: dynamic(null);
$ui-main-titlebar-titlebar-line-height-big: dynamic(null);
$ui-main-titlebar-titlebar-min-height: dynamic(null);
$ui-main-titlebar-titlebar-min-height-big: dynamic(null);
$ui-main-titlebar-titlebar-padding: dynamic(null);
$ui-main-titlebar-titlebar-padding-big: dynamic(null);
$ui-main-titlebar-titlebar-vertical-spacing: dynamic(null);
$ui-main-titlebar-titlebar-vertical-spacing-big: dynamic(null);
$ui-main-titlebar-titlebar-title-color: dynamic(null);
$ui-main-titlebar-titlebar-title-font-family: dynamic(null);
$ui-main-titlebar-titlebar-title-font-size: dynamic(null);
$ui-main-titlebar-titlebar-title-font-size-big: dynamic(null);
$ui-main-titlebar-titlebar-title-font-weight: dynamic(null);
$ui-main-titlebar-titlebar-title-padding: dynamic(null);
$ui-main-titlebar-titlebar-title-padding-big: dynamic(null);
$ui-dashboard-tabpanel-tab-color: dynamic(null);
$ui-dashboard-tabpanel-tab-font-family: dynamic(null);
$ui-dashboard-tabpanel-tab-font-size: dynamic(null);
$ui-dashboard-tabpanel-tab-font-size-big: dynamic(null);
$ui-dashboard-tabpanel-tab-font-weight: dynamic(null);
$ui-dashboard-tabpanel-tab-icon-horizontal-spacing: dynamic(null);
$ui-dashboard-tabpanel-tab-icon-horizontal-spacing-big: dynamic(null);
$ui-dashboard-tabpanel-tab-icon-vertical-spacing: dynamic(null);
$ui-dashboard-tabpanel-tab-icon-vertical-spacing-big: dynamic(null);
$ui-dashboard-tabpanel-tab-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-background-gradient: dynamic(null);
$ui-dashboard-tabpanel-tab-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-icon-font-size: dynamic(null);
$ui-dashboard-tabpanel-tab-icon-font-size-big: dynamic(null);
$ui-dashboard-tabpanel-tab-icon-only-padding: dynamic(null);
$ui-dashboard-tabpanel-tab-icon-only-padding-big: dynamic(null);
$ui-dashboard-tabpanel-tab-line-height: dynamic(null);
$ui-dashboard-tabpanel-tab-line-height-big: dynamic(null);
$ui-dashboard-tabpanel-tab-padding: dynamic(null);
$ui-dashboard-tabpanel-tab-padding-big: dynamic(null);
$ui-dashboard-tabpanel-tab-stacked-font-size: dynamic(null);
$ui-dashboard-tabpanel-tab-stacked-font-size-big: dynamic(null);
$ui-dashboard-tabpanel-tab-text-transform: dynamic(null);
$ui-dashboard-tabpanel-tab-text-transform-big: dynamic(null);
$ui-dashboard-tabpanel-tab-focused-arrow-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-focused-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-focused-background-gradient: dynamic(null);
$ui-dashboard-tabpanel-tab-focused-border-color: dynamic(null);
$ui-dashboard-tabpanel-tab-focused-color: dynamic(null);
$ui-dashboard-tabpanel-tab-focused-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-focused-outline-color: dynamic(null);
$ui-dashboard-tabpanel-tab-focused-outline-style: dynamic(null);
$ui-dashboard-tabpanel-tab-focused-outline-width: dynamic(null);
$ui-dashboard-tabpanel-tab-hovered-arrow-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-hovered-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-hovered-background-gradient: dynamic(null);
$ui-dashboard-tabpanel-tab-hovered-border-color: dynamic(null);
$ui-dashboard-tabpanel-tab-hovered-color: dynamic(null);
$ui-dashboard-tabpanel-tab-hovered-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-pressed-arrow-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-pressed-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-pressed-background-gradient: dynamic(null);
$ui-dashboard-tabpanel-tab-pressed-border-color: dynamic(null);
$ui-dashboard-tabpanel-tab-pressed-color: dynamic(null);
$ui-dashboard-tabpanel-tab-pressed-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tabbar-color: dynamic(null);
$ui-dashboard-tabpanel-tabbar-font-family: dynamic(null);
$ui-dashboard-tabpanel-tabbar-font-size: dynamic(null);
$ui-dashboard-tabpanel-tabbar-font-size-big: dynamic(null);
$ui-dashboard-tabpanel-tabbar-font-weight: dynamic(null);
$ui-dashboard-tabpanel-tabbar-background-color: dynamic(null);
$ui-dashboard-tabpanel-tabbar-background-gradient: dynamic(null);
$ui-dashboard-tabpanel-tabbar-border-color: dynamic(null);
$ui-dashboard-tabpanel-tabbar-border-style: dynamic(null);
$ui-dashboard-tabpanel-tabbar-border-width: dynamic(null);
$ui-dashboard-tabpanel-tabbar-horizontal-spacing: dynamic(null);
$ui-dashboard-tabpanel-tabbar-horizontal-spacing-big: dynamic(null);
$ui-dashboard-tabpanel-tabbar-line-height: dynamic(null);
$ui-dashboard-tabpanel-tabbar-line-height-big: dynamic(null);
$ui-dashboard-tabpanel-tabbar-min-height: dynamic(null);
$ui-dashboard-tabpanel-tabbar-min-height-big: dynamic(null);
$ui-dashboard-tabpanel-tabbar-padding: dynamic(null);
$ui-dashboard-tabpanel-tabbar-padding-big: dynamic(null);
$ui-dashboard-tabpanel-tabbar-strip-background-color: dynamic(null);
$ui-dashboard-tabpanel-tabbar-strip-height: dynamic(null);
$ui-dashboard-tabpanel-tabbar-strip-height-big: dynamic(null);
$ui-dashboard-tabpanel-tabbar-vertical-spacing: dynamic(null);
$ui-dashboard-tabpanel-tabbar-vertical-spacing-big: dynamic(null);
$ui-dashboard-tabpanel-tab-border-color: dynamic(null);
$ui-dashboard-tabpanel-tab-border-radius: dynamic(null);
$ui-dashboard-tabpanel-tab-border-radius-big: dynamic(null);
$ui-dashboard-tabpanel-tab-border-style: dynamic(null);
$ui-dashboard-tabpanel-tab-border-width: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-color: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-font-family: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-font-size: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-font-size-big: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-font-weight: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-bottom: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-left: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-right: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-top: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-background-gradient: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-border-radius: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-line-height: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-line-height-big: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-max-width: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-min-width: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-padding: dynamic(null);
$ui-dashboard-tabpanel-tab-badge-padding-big: dynamic(null);
$ui-dashboard-tabpanel-tab-active-arrow-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-background-gradient: dynamic(null);
$ui-dashboard-tabpanel-tab-active-border-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-focused-outline-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-close-icon-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-close-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-close-icon-hovered-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-close-icon-hovered-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-close-icon-pressed-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-close-icon-pressed-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-indicator-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-active-indicator-height: dynamic(null);
$ui-dashboard-tabpanel-tab-disabled-arrow-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-disabled-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-disabled-background-gradient: dynamic(null);
$ui-dashboard-tabpanel-tab-disabled-border-color: dynamic(null);
$ui-dashboard-tabpanel-tab-disabled-color: dynamic(null);
$ui-dashboard-tabpanel-tab-disabled-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-close-icon-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-close-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-close-icon-font-size: dynamic(null);
$ui-dashboard-tabpanel-tab-close-icon-font-size-big: dynamic(null);
$ui-dashboard-tabpanel-tab-close-icon-margin: dynamic(null);
$ui-dashboard-tabpanel-tab-close-icon-margin-big: dynamic(null);
$ui-dashboard-tabpanel-tab-close-icon-spacing: dynamic(null);
$ui-dashboard-tabpanel-tab-close-icon-spacing-big: dynamic(null);
$ui-dashboard-tabpanel-tab-close-icon-hovered-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-close-icon-hovered-color: dynamic(null);
$ui-dashboard-tabpanel-tab-close-icon-pressed-background-color: dynamic(null);
$ui-dashboard-tabpanel-tab-close-icon-pressed-color: dynamic(null);
$ui-dashboard-tabpanel-tab-arrow-horizontal-spacing: dynamic(null);
$ui-dashboard-tabpanel-tab-arrow-horizontal-spacing-big: dynamic(null);
$ui-dashboard-tabpanel-tab-arrow-vertical-spacing: dynamic(null);
$ui-dashboard-tabpanel-tab-arrow-vertical-spacing-big: dynamic(null);
$ui-dashboard-tabpanel-tab-arrow-icon-color: dynamic(null);
$ui-dashboard-tabpanel-tab-arrow-icon-font-size: dynamic(null);
$ui-dashboard-tabpanel-tab-arrow-icon-font-size-big: dynamic(null);
$ui-main-button-button-color: dynamic(null);
$ui-main-button-button-font-family: dynamic(null);
$ui-main-button-button-font-size: dynamic(null);
$ui-main-button-button-font-size-big: dynamic(null);
$ui-main-button-button-font-weight: dynamic(null);
$ui-main-button-button-background-color: dynamic(null);
$ui-main-button-button-background-gradient: dynamic(null);
$ui-main-button-button-border-color: dynamic(null);
$ui-main-button-button-border-radius: dynamic(null);
$ui-main-button-button-border-radius-big: dynamic(null);
$ui-main-button-button-border-style: dynamic(null);
$ui-main-button-button-border-width: dynamic(null);
$ui-main-button-button-line-height: dynamic(null);
$ui-main-button-button-line-height-big: dynamic(null);
$ui-main-button-button-padding: dynamic(null);
$ui-main-button-button-padding-big: dynamic(null);
$ui-main-button-button-text-transform: dynamic(null);
$ui-main-button-button-text-transform-big: dynamic(null);
$ui-main-button-button-icon-horizontal-spacing: dynamic(null);
$ui-main-button-button-icon-horizontal-spacing-big: dynamic(null);
$ui-main-button-button-icon-vertical-spacing: dynamic(null);
$ui-main-button-button-icon-vertical-spacing-big: dynamic(null);
$ui-main-button-button-icon-color: dynamic(null);
$ui-main-button-button-icon-font-size: dynamic(null);
$ui-main-button-button-icon-font-size-big: dynamic(null);
$ui-main-button-button-icon-only-padding: dynamic(null);
$ui-main-button-button-icon-only-padding-big: dynamic(null);
$ui-main-button-button-hovered-arrow-icon-color: dynamic(null);
$ui-main-button-button-hovered-background-color: dynamic(null);
$ui-main-button-button-hovered-background-gradient: dynamic(null);
$ui-main-button-button-hovered-border-color: dynamic(null);
$ui-main-button-button-hovered-color: dynamic(null);
$ui-main-button-button-hovered-icon-color: dynamic(null);
$ui-main-button-button-focused-arrow-icon-color: dynamic(null);
$ui-main-button-button-focused-background-color: dynamic(null);
$ui-main-button-button-focused-background-gradient: dynamic(null);
$ui-main-button-button-focused-border-color: dynamic(null);
$ui-main-button-button-focused-color: dynamic(null);
$ui-main-button-button-focused-icon-color: dynamic(null);
$ui-main-button-button-focused-outline-color: dynamic(null);
$ui-main-button-button-focused-outline-style: dynamic(null);
$ui-main-button-button-focused-outline-width: dynamic(null);
$ui-main-button-button-pressed-arrow-icon-color: dynamic(null);
$ui-main-button-button-pressed-background-color: dynamic(null);
$ui-main-button-button-pressed-background-gradient: dynamic(null);
$ui-main-button-button-pressed-border-color: dynamic(null);
$ui-main-button-button-pressed-color: dynamic(null);
$ui-main-button-button-pressed-icon-color: dynamic(null);
$ui-main-button-button-disabled-arrow-icon-color: dynamic(null);
$ui-main-button-button-disabled-background-color: dynamic(null);
$ui-main-button-button-disabled-background-gradient: dynamic(null);
$ui-main-button-button-disabled-border-color: dynamic(null);
$ui-main-button-button-disabled-color: dynamic(null);
$ui-main-button-button-disabled-icon-color: dynamic(null);
$ui-main-button-button-disabled-opacity: dynamic(null);
$ui-main-button-button-badge-color: dynamic(null);
$ui-main-button-button-badge-font-family: dynamic(null);
$ui-main-button-button-badge-font-size: dynamic(null);
$ui-main-button-button-badge-font-size-big: dynamic(null);
$ui-main-button-button-badge-font-weight: dynamic(null);
$ui-main-button-button-badge-bottom: dynamic(null);
$ui-main-button-button-badge-left: dynamic(null);
$ui-main-button-button-badge-right: dynamic(null);
$ui-main-button-button-badge-top: dynamic(null);
$ui-main-button-button-badge-background-color: dynamic(null);
$ui-main-button-button-badge-background-gradient: dynamic(null);
$ui-main-button-button-badge-border-radius: dynamic(null);
$ui-main-button-button-badge-line-height: dynamic(null);
$ui-main-button-button-badge-line-height-big: dynamic(null);
$ui-main-button-button-badge-max-width: dynamic(null);
$ui-main-button-button-badge-min-width: dynamic(null);
$ui-main-button-button-badge-padding: dynamic(null);
$ui-main-button-button-badge-padding-big: dynamic(null);
$ui-main-button-button-arrow-horizontal-spacing: dynamic(null);
$ui-main-button-button-arrow-horizontal-spacing-big: dynamic(null);
$ui-main-button-button-arrow-vertical-spacing: dynamic(null);
$ui-main-button-button-arrow-vertical-spacing-big: dynamic(null);
$ui-main-button-button-arrow-icon-color: dynamic(null);
$ui-main-button-button-arrow-icon-font-size: dynamic(null);
$ui-main-button-button-arrow-icon-font-size-big: dynamic(null);